body {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
}
h1, h2, h3, h4 {
    font-family: Verdana, sans-serif;
}
h1, h2 {
    text-transform: uppercase;
}
h1 {
    margin: 0px;
    padding: 10px;
    font-size: 42pt;
    background-color: darkred;
    text-align: right;
}
a {
    color: darkred;
    text-decoration: none;
}
h1 a {
    color: white;
}
h2 {
    font-size: 24pt;
    margin: 50px 0px 10px 0px;
}
h3 {
    font-size: 18pt;
}
h4 {
    font-size: 14pt;
}
h5 {
    font-size: 12pt;
    margin: 10px 0px 10px 0px;
}
#categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
table {
    width: 100%;
    border-collapse: collapse;
}
#gallery th, #gallery td {
    border: 1px solid lightgrey;
    padding: 5px;
}
#gallery img {
    text-align: center;
    width: 100px;
}
#gallery-item {
    display: flex;
    justify-content: center;
}
#gallery-item img {
    display: block;
    margin: 10px;
}
#copyright {
    text-align: right;
}
#paginator {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#paginator a, #paginator span {
    display: block;
    font-size: 24pt;
    margin: 2pt;
    padding: 5pt 10pt;
}
#paginator a {
    background-color: lightgrey;
}
#filter_form {
    float: right;
    margin-top: 30px;
}